openapi: 3.1.0
info:
  title: HFSAA Public API
  version: 1.0.0
  description: |
    Read-only API for HFSAA-certified restaurants, meat markets, and dining halls.
    Production v1 API.
  contact:
    name: HFSAA
servers:
  - url: https://api.hfsaa.org
    description: Production
paths:
  /v1/locations:
    get:
      tags: [Locations]
      summary: List locations
      description: Returns HFSAA-certified directory locations across all supported types.
      operationId: listLocations
      parameters:
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/State'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/ZipCode'
        - $ref: '#/components/parameters/Chapter'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of locations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '410':
          $ref: '#/components/responses/Expired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/ServerError'
  /v1/locations/{locationId}:
    get:
      tags: [Locations]
      summary: Get a location
      description: Returns a single HFSAA-certified directory location by its opaque HFSAA ID.
      operationId: getLocation
      parameters:
        - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: The requested location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/chapters:
    get:
      tags: [Chapters]
      summary: List chapters
      description: Returns HFSAA chapters represented by public directory locations.
      operationId: listChapters
      responses:
        '200':
          description: HFSAA chapters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/dataset:
    get:
      tags: [Metadata]
      summary: Get dataset metadata
      description: Returns metadata about the directory dataset and API contract.
      operationId: getDatasetMetadata
      responses:
        '200':
          description: Dataset metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetMetadata'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/dataset/locations.json:
    get:
      tags: [Metadata]
      summary: Download a dataset snapshot
      description: Downloads the exact immutable JSON artifact identified by a dataset version. Use the version-specific URL returned by GET /v1/dataset to ensure the checksum and artifact refer to the same snapshot.
      operationId: downloadDatasetSnapshot
      parameters:
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: An immutable dataset snapshot.
          headers:
            X-Dataset-Version:
              description: Dataset version contained in the artifact.
              schema:
                type: string
            X-Checksum-SHA256:
              description: Lowercase hexadecimal SHA-256 checksum of the exact response body.
              schema:
                type: string
                pattern: '^[0-9a-f]{64}$'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '410':
          $ref: '#/components/responses/Expired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  parameters:
    LocationId:
      name: locationId
      in: path
      required: true
      description: Opaque HFSAA location identifier.
      schema:
        type: string
        example: 550e8400-e29b-41d4-a716-446655440000
    Type:
      name: type
      in: query
      description: Restrict results to a location type.
      schema:
        $ref: '#/components/schemas/LocationType'
    State:
      name: state
      in: query
      description: Filter by two-letter U.S. state or territory code.
      schema:
        type: string
        minLength: 2
        maxLength: 2
        example: NY
    City:
      name: city
      in: query
      description: Filter by city name.
      schema:
        type: string
        example: New York
    ZipCode:
      name: zip_code
      in: query
      description: Filter by ZIP or postal code.
      schema:
        type: string
        example: '10001'
    Chapter:
      name: chapter
      in: query
      description: Filter by chapter name.
      schema:
        type: string
        example: New York
    Search:
      name: q
      in: query
      description: Search location names and directory fields.
      schema:
        type: string
        maxLength: 100
        example: halal grill
    Limit:
      name: limit
      in: query
      description: Maximum number of results returned in one page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      description: Opaque, dataset-version-bound cursor returned by a prior list response. Keep the same filters when requesting the next page. Superseded versions remain available for at least seven days; an expired cursor returns HTTP 410.
      schema:
        type: string
    Version:
      name: version
      in: query
      required: false
      description: Opaque dataset version. Omit it to download the current snapshot; use the value in the metadata download_url for a checksum-stable download.
      schema:
        type: string
  responses:
    BadRequest:
      description: The request contains an invalid parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Expired:
      description: The requested cursor or immutable dataset version has expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: The per-IP limit of 60 requests per minute was exceeded.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
            example: 60
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: The service or an upstream dependency could not complete the request. Retry with exponential backoff and jitter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: The service is temporarily unavailable. Retry after the indicated delay.
      headers:
        Retry-After:
          description: Seconds to wait before retrying when known.
          schema:
            type: integer
            example: 60
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    LocationType:
      type: string
      enum: [restaurant, meat_market, dining_hall]
    Location:
      type: object
      additionalProperties: false
      required: [id, type, name, verification_url, certification_status]
      properties:
        id:
          type: string
          description: Opaque HFSAA location identifier.
          example: 550e8400-e29b-41d4-a716-446655440000
        type:
          $ref: '#/components/schemas/LocationType'
        name:
          type: string
          example: Example Restaurant
        verification_url:
          type: string
          format: uri
          description: Official HFSAA verification page for this location. When stating or implying HFSAA certification, identify HFSAA and provide reasonable access to this exact URL.
          example: https://hfsaa-public-locator.pages.dev/?certificate_id=HFSAA-R-EXAMPLE
        certification_status:
          type: string
          description: Public certification state. Only certified locations are returned in v1.
          example: certified
        chapter_name:
          type: [string, 'null']
          description: Associated HFSAA chapter, or null when unavailable.
          example: New York
        address:
          type: [string, 'null']
          description: Street address, or null when unavailable.
          example: 123 Main Street
        city:
          type: [string, 'null']
          description: City, or null when unavailable.
          example: New York
        state:
          type: [string, 'null']
          description: State or territory code, or null when unavailable.
          example: NY
        zip_code:
          type: [string, 'null']
          description: ZIP or postal code, or null when unavailable.
          example: '10001'
        cuisine_type:
          type: [string, 'null']
          description: HFSAA directory classification, or null when unavailable.
          example: Mediterranean
        google_place_id:
          type: [string, 'null']
          description: Google Place ID identifier, or null when unavailable. This API does not provide Google content.
          example: ChIJd8BlQ2BZwokRAFUEcm_qrcA
    LocationList:
      type: object
      additionalProperties: false
      required: [dataset_version, data, pagination]
      properties:
        dataset_version:
          type: string
          description: Opaque immutable dataset version used for every page in this pagination sequence.
        data:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      additionalProperties: false
      required: [limit]
      properties:
        limit:
          type: integer
          example: 25
        next_cursor:
          type: [string, 'null']
          description: Dataset-version-bound cursor for the next page, or null when no more results exist.
    Chapter:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
          example: New York
    ChapterList:
      type: object
      additionalProperties: false
      required: [dataset_version, data]
      properties:
        dataset_version:
          type: string
          description: Opaque immutable dataset version used to derive this chapter list.
        data:
          type: array
          items:
            $ref: '#/components/schemas/Chapter'
    DatasetMetadata:
      type: object
      additionalProperties: false
      required: [api_version, dataset_version, generated_at, location_count, checksum, download_url, location_types, attribution]
      properties:
        api_version:
          type: string
          example: v1
        dataset_version:
          type: string
          description: Opaque immutable version of the current dataset.
        generated_at:
          type: string
          format: date-time
          description: UTC time at which this snapshot was generated.
        location_count:
          type: integer
          minimum: 0
          description: Exact number of locations in this dataset version.
        checksum:
          $ref: '#/components/schemas/Checksum'
        download_url:
          type: string
          format: uri
          description: Version-specific URL for the exact artifact covered by checksum.
        location_types:
          type: array
          items:
            $ref: '#/components/schemas/LocationType'
        attribution:
          type: object
          additionalProperties: false
          required: [required, text, instructions]
          properties:
            required:
              type: boolean
              example: true
            text:
              type: string
              example: HFSAA certification
            instructions:
              type: string
              example: When stating or implying that a location is certified or halal verified by HFSAA, identify HFSAA and provide reasonable access to the location's exact verification_url.
    Checksum:
      type: object
      additionalProperties: false
      required: [algorithm, value]
      properties:
        algorithm:
          type: string
          enum: [sha256]
        value:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: Lowercase hexadecimal SHA-256 checksum of the exact downloaded artifact bytes.
    DatasetSnapshot:
      type: object
      additionalProperties: false
      required: [dataset_version, generated_at, location_count, data]
      properties:
        dataset_version:
          type: string
          description: Opaque immutable dataset version.
        generated_at:
          type: string
          format: date-time
        location_count:
          type: integer
          minimum: 0
        data:
          type: array
          items:
            $ref: '#/components/schemas/Location'
    Error:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: invalid_parameter
            message:
              type: string
              example: limit must be between 1 and 100.
